html, body {
	padding: 0;
	margin: 0;
	--primary-color-lighter: #59afb3;
	--primary-color-darker: #0a95d8;
	width: 100%;
    height: 100%;
    font-family: 'Lato';
    color: #029AA5;
}

a {
    text-decoration: none;
}

#nav {
    width: 100%;
    position: absolute;
    top: 0;
}



.nav-title {
    text-align: center;
    width: 100px;
    margin: 1% 0;
    left: 10%;  
    transform: translate(-60px);
    position: absolute;
    display: inline-block;
    color: #029AA5;
    background: white;
    border: solid 1px #029AA5;
    border-radius: 30px;
    line-height: 35px;
    z-index: 2000;
    transition: all 1s;
}

.nav-title:hover {
    transition: all 1s;
    transform: scale(1.1);
    background-color: lightyellow;
    cursor: pointer;
}


.nav-right {
    display: inline-block;
    padding-top:1%;
    position: absolute;    
    right: 2%;
}


.social.facebook ,
.social.instagram,
.social.facebook a,
.social.instagram a{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    background-color: #029AA5;
    border-radius: 50%;
    color:white;
    margin-top: 11px;
    margin-left:11px;
    transition: all 1s;
    transform:scale(1.1);
}

.social.facebook a:hover,
.social.instagram a:hover {
    transform:scale(1.2);
    transition: all 1s ;
}




.mobile{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    background-color: #029AA5;
    border-radius: 50%;
    color:white;
    margin-top:15%;
}
.number {
    display: inline-block;
    color:#029AA5;
    margin-bottom: 15px;
    line-height: 30px;
    font-size: 15px;
}

#hero{
    width: 100%;
    height: 100%;
    padding-top: 100px !important;
    position: relative;
    display: grid;
}

.hero-container {
    display:grid;
    grid-template-columns: 10% 250px 5% 250px 5% 250px auto 10% 10%;
    grid-template-rows: 300px 60px 180px auto;
  }

.anchors-container{    
    grid-row: 2;
    grid-column:2;
    display:grid;
    grid-template-columns: 48% 2% 48%;
}

.anchor-signup{
    grid-column:1;
    background: orange;
    color:white;
    font-weight: bold;
    border-radius: 30px;
    line-height: 60px;
    text-align: center;
}

.anchor-learnmore{
    grid-column:3;
    background: white;
    border: 2px solid orange;
    color:orange;
    font-weight: bold;
    border-radius: 30px;
    line-height: 60px;
    text-align: center;
}

.anchor-signup a {
    color: white;
    display:block;
}

.anchor-learnmore a {
    display:block;
    color:orange;
}

.anchor-signup:hover {
    background: white;
    color: orange;
    border: 2px solid orange;
}

.anchor-signup a:hover {
    color: orange;
}


.heading-container {
    margin-bottom: 10%;
    margin-top: -1%;
    text-align: center;
}



.heading-big {
    font-size: 30px;
}

.heading-small {
    font-size: 22px;
}

.heading-subtitle {
    font-size: 18px;
}

.hero-left {
    display: inline-block;
    width:100%;
    height: 100%;
    position: relative;
}

.hero-left-content{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.name {
    color:black;
}

.hero-right {
    display: inline-block;
    /* background-color: red; */
    width:49%;
    height: 100%;
    position: relative;
    /* border: solid 1px; */
}

.avatar-container{
    display: inline-block;
    overflow: hidden;
    margin-top: 0;
    margin-left: 22%;
    text-align: center;
}

.avc-2 {
    margin-left: 12%;
}

.avatar{
    height: 120px;
    width: 120px;
    display: inline-block;
}

.avatar img{
    height: 100%;
    width:100%;
    border-radius: 50%;
}

.avatar-container h4 {
    margin:0px;
}

.fa-long-arrow-alt-down {
    font-size: 100px;
    color:#029AA5;
}

.hero-img-right {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mantra{
    color: #029AA5;
    width: 100px;
    overflow-wrap: break-word;
}

.mantra-2 {
    margin-left:80%;
}

.mantra-3 {
    margin-left:5%;
    display: inline-block;
}


.mantra-4 {
    display: inline-block;
    margin-left: 60%;
    margin-bottom: 7%;
}

.hero-img-right img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.hero-right h1 {
    position: absolute;
    margin-top: 2%;
    left:50%;
}


#sec-2 {
    background-color: white;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 250px 10% 250px 10% 250px 10%;
    grid-template-rows: 20% 300px 20% 180px auto;
}

.whyus {
    grid-column: 2;
    font-size: 44px;
    color: black;
}

.answer-1 {
    grid-column: 2;
}

.answer-2 {
    grid-column: 4;
    grid-row:1;
}

.answer-3 {
    grid-column: 6;
    grid-row:1;
}


footer {
    height: 400px;
    background-image: url("../images/a.PNG") ;
    background-repeat-y: no-repeat;
    color:white;
    background-size: cover;
}

.back {
	width: 200px;
	height:200px;
	background-color:#029AA5;
	position:absolute;
	right: 0px;
	overflow-y:hidden;
	margin-right:-10px;
}

.top {
	height: 200px;
	width: 200px;
	background-color: white;
	border-radius:60% 0%;
	margin-top:-120px;
	margin-bottom: 35px;
}

.bottom {
	height: 200px;
	width: 200px;
	background-color: white;
	border-radius:0% 60%;
	margin-bottom:-100px;
	z-index:200;
}

.circle {
	background-color: #029AA5;
	height: 100px;
	width: 100px;
	border-radius: 50% 50% 50% 50%;
	top: 50px;
    right:110px;
    z-index: 2000;
	position:absolute;
}

.bighead {
    font-size: 85px;
    grid-column: 2;
    text-shadow: 5px 5px lightgoldenrodyellow;
}

.kisa {
    background-image: linear-gradient(19deg, #FAACA8     0%, #DDD6F3 100%);
    border-radius: 30px 30px 30px 30px;
    transform: rotate(-130deg);
  }
  
.kisa.k1 {
grid-column: 4;
grid-row:1;
width:400px;
height: 35px;
background-color: #FAACA8;
}

.kisa.k2 {
grid-column: 1;
grid-row:1;
width:400px;
height: 35px;
background-color: #FAACA8;
}

.kisa.k3 {
grid-column: 4;
grid-row:2;
width:600px;
height: 15px;
background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
